<% layout('/layouts/boilerplate') -%>
<body>
  <div class="image-show-container mt-5">
    <div class="card image-show-card">
    <div class="image-container" style="background-image: url('<%= image.image.url %>');"></div>
      <div class="card-body">
        <h5 class="card-title image-caption"><i>Caption :</i><b><%= image.caption %></b></h5>
        <p class="card-text image-created-at"><i>Uploaded on:</i> <b><%= new Date(image.createdAt).toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }) %></b></p>
        <a href="/" class="btn btn-primary back-link">Back to Gallery</a>
      </div>
    </div>
  </div>
</body>
